.fc-current-open-offcanvas {
    opacity: 0.5;
}
.fc-timeline-event {
	border-radius: 4px;
	padding: 6px 8px;
	margin: 4px 1px 0px 1px;
	font-size: 16px;
	text-align: center;
}

.fc-h-event{
    border-width: 2px;
}

.fc-event-time, .fc-event-title {
    color: #39363a;
}
